<!DOCTYPE html>
<html>
<head>
	<title>Support</title>
	<link rel="stylesheet" href="../style/estilo.css">
</head>
<body class="backroundColorSand">

 <div class="border menu flexContainer">
      <div class=" item1 transitionMenuItem"><a href="../index.html">Home</a>
      </div>
      <div class=" item2 transitionMenuItem"><a href="seccion2.html">Posts</a>
      </div>
  	  <div  class=" item3 transitionMenuItem "><a href="seccion3.html">Postulate</a>
      </div>
  	  <div class="item4 transitionMenuItem backroundColorYellow"><a href="seccion4.html">Support</a>
      </div>
 </div> 

    <div class="border margin">
    	<h3>Title</h3>
       <div class="flexContainer justifyContent"> 
	    <div>
	    	<h4>Subtitle</h4>
	    	<p>Paragraph</p>
	    </div>
	    <div>
	    	<h4>Subtitle</h4>
	    	<p>Paragraph</p>
	    </div>	    
	    <div>
	    	<h4>Subtitle</h4>
	    	<p>Paragraph</p>
	    </div>
	    <div>
	    	<h4>Subtitle</h4>
	    	<p>Paragraph</p>
	    </div>
	   </div>
	  </div>

       <div class="border margin">
    	<h3>Title</h3>
         <div class="flexContainer justifyContent"> 
	      <div>
	      	<h4>Subtitle</h4>
	      	<p>Paragraph</p>
	      </div>
	      <div>
	      	<h4>Subtitle</h4>
	      	<p>Paragraph</p>
	      </div>	    
	      <div>
	      	<h4>Subtitle</h4>
	      	<p>Paragraph</p>
	      </div>
	      <div>
	    	<h4>Subtitle</h4>
	    	<p>Paragraph</p>
	    </div>
	   </div>
    </div>

    <div class="border margin  ">
    	<h3>Title</h3>
    	<div class="flexContainer itemAlign">

    		<div >
    			<img src="../img/backround.jfif" alt="hjd" class="roundBorder">
    			<h4>Subtitle</h4>    			
    			 <p>Paragraph</p>
	        </div>
	        <div>
	        	<img src="../img/backround.jfif" alt="hjd" class="roundBorder">
	        	<h4>Subtitle</h4>	
	        	<p>Paragraph</p>
	        </div>
	    </div>
	</div>
</body>
</html>
  