<!DOCTYPE html>
<html>
<head>
	<title>Posts</title>
	<link rel="stylesheet" href="../style/estilo.css">
</head>
<body>
   <div class="border menu  flexContainer">
      <div class=" item1 transitionMenuItem"><a href="../index.html">Home</a>
      </div>
      <div class=" item2 transitionMenuItem backroundColorYellow"><a href="seccion2.html">Posts</a>
      </div>
  	  <div  class=" item3 transitionMenuItem"><a href="seccion3.html">Postulate</a>
      </div>
  	  <div class="item4 transitionMenuItem"><a href="seccion4.html">Support</a>
      </div>
     </div>  
  	

 <div class="border margin padding  flexContainer itemAlign ">
  	<div class=" ">
  		<p>IT Field</p>
  		<button><a href="Seccion5.html">IT Posts</a></button>
    </div>
    <div class="">
    	<img src="img/notodavia" alt="IT">
    </div>
 </div>
 <div class="border margin padding flexContainer itemAlign">
     <div>
         <p>Financial Services</p>
         <button><a href="Seccion5.html">Financial Services Posts</a></button>
     </div>
     <div>
     	  <img src="img/notodavia" alt="Financial Services">
     </div> 
 </div>
 <div class="border margin padding flexContainer itemAlign">
 	 <div>
 	     <p>Marketing</p>
 	     <button><a href="Seccion5.html">Marketing Posts</a></button>
 	 </div>
     <div>
    	<img src="img/notodavia" alt="Mrkt">
     </div>
 </div>
 <div class="border margin padding flexContainer itemAlign">
 	<div>
 	  <p>Sales</p>
 	  <button><a href="Seccion5.html">Sales Posts</a></button>
 	</div>
    <div><img src="img/notodavia" alt="Sales"></div>
 </div>
 <div class="border margin padding flexContainer itemAlign">
 	<p>Giving opportunities all around the Globe</p>
 	<img src="img/notodavia"alt="Globe">

 </div>

</body>
</html>
  