<!DOCTYPE html>
<html>
<head>
	<title>Postulate</title>
	<link rel="stylesheet" href="../style/estilo.css">
</head>
<body>
  <div class="border menu flexContainer">
      <div class=" item1 transitionMenuItem"><a href="../index.html">Home</a>
      </div>
      <div class=" item2 transitionMenuItem"><a href="seccion2.html">Posts</a>
      </div>
  	  <div  class=" item3 transitionMenuItem backroundColorYellow"><a href="seccion3.html">Postulate</a>
      </div>
  	  <div class="item4 transitionMenuItem"><a href="seccion4.html">Support</a>
      </div>
     </div>  

    <div class="border margin padding gradiente backroundCrafters">
    	 
    	  <p class="title transitionTitle  ">Crafters</p> 
    	 

    </div>
    <div class="border margin padding flexContainer itemAlign animation">
    	 <div>
    	 	<img src="img/notodavia"alt="Searchers version" >
    	 </div>
    	 <div>
    	     <p>Searchers version<p/>
    	     <button><a href="Seccion5.html">Searchers version</a></button>
 	     </div>
    </div>
    <div class="border margin padding flexContainer itemAlign animation">
    	<div>
    		<p>Company version<p/>
    		<button  ><a href="Seccion5.html">Company Version</a></button>
    	</div>
    	<div>
    		<img src="img/notodavia"alt="Company version" class="Right">

    	</div>
    </div>
</body>
</html>
  