<!DOCTYPE html>
<html>
<head>
	<title>Post bis</title>
	<link rel="stylesheet" href="../style/estilo.css">
</head>
<body>	
	<div class="border menu flexContainer">
		<div class=" item1 transitionMenuItem"><a href="../index.html">Home</a>
        </div>
        <div class=" item2 transitionMenuItem"><a href="seccion2.html">Posts</a>
        </div>
  	    <div  class=" item3 transitionMenuItem "><a href="seccion3.html">Postulate</a>
        </div>
  	    <div class="item4 transitionMenuItem"><a href="seccion4.html">Support</a>
        </div>
    </div> 
	<h1>*ElectedCategory*</h1>
	<h2>Subtitle</h2>
	<div class="border margin">		
		<div>			
			<img src="">
		</div>
	    <div>	    	
	    	<h3>Job Title</h3>
	    	<h4>Company/Startup name</h4>
	      	<p>Job description</p>
	      	<button>Contact</button>	          	
	    </div>		
	</div>
	<div class="border margin">		
		<div>
			<img src="">
		</div>
	    <div>
	    	<h3>Job Title</h3>
	    	<h4>Company/Startup name</h4>
	    	<p>Job description</p>
	    	<button>Contact</button>	    	
	    </div>		
	</div>
	<div class="border margin">
		<div>
			<img src="">
		</div>
	    <div>
	    	<h3>Job Title</h3>
	    	<h4>Company/Startup name</h4>
	    	<p>Job description</p>
	    	<button>Contact</button>	    	
	    </div>	
	</div>
	<div class="border margin">		
		<div>
			<img src="">
		</div>
	    <div>
	    	<h3>Job Title</h3>
	    	<h4>Company/Startup name</h4>
	    	<p>Job description</p>
	    	<button>Contact</button>	    	
	    </div>		
	</div>

</body>
</html>
  